@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
}

@layer components {
  .butang {
    @apply transform rounded-full border border-gray-300 px-4 py-2 font-Alata text-sm font-bold shadow-sm hover:scale-105 focus:outline-none focus:ring-2;
  }
  .butang2 {
    @apply transform rounded-full border border-gray-300 px-6 py-4 font-Alata text-sm font-bold shadow-sm hover:scale-105 focus:outline-none focus:ring-2;
  }
  .butang3 {
    @apply transform rounded-full border border-gray-300 p-3 px-6 pt-2 font-Alata text-sm font-bold shadow-sm hover:scale-105 focus:outline-none focus:ring-2;
  }
  .btn {
    @apply my-0 border-2 border-black px-10 py-2 text-center font-Alata font-bold uppercase tracking-widest hover:bg-black hover:text-white;
  }
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
